[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
django-extensions = "*"
werkzeug = "*"
black = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
django-coverage-plugin = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
environs = "*"
pillow = "*"
gunicorn = "*"
django-cors-headers = "*"
django-heroku = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
