[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
django-extensions = "*"
werkzeug = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
drf-yasg = "*"
environs = "*"
pillow = "*"
gunicorn = "*"
django-cors-headers = "*"
django-heroku = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
